// Ingredients listing
.tacos-ingredients-meats,
.tacos-ingredients-sauces,
.tacos-ingredients-supplements
    vertical-align: baseline

// Tacos generate options

.selectors-container
    display: flex

.selectors-item
    margin: 0 auto

.tacos-list-item:hover
    background-color:  #b4b4b4c2

.btn-generate-tacos
    background-color: #1ff100
    &:hover
        background-color: #1bce00

// Tacos generated list
.btn-regenerate-tacos
    background-color: #efd700
    &:hover
        background-color: #cab600

.btn-remove-tacos
    background-color: #e82011
    &:hover
        background-color: #bb1b10