<div class="tacos-app">
    <div class="tacos-ingredients">
        <table class="tacos-ingredients-table">
            <thead>
                <tr>
                    <th colspan="6">
                        <h3>Liste des ingrédients</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Viandes</b></td>
                    <td><b>Sauces</b></td>
                    <td colspan="3"><b>Suppléments</b></td>
                </tr>
                <tr>

                    <td class="tacos-ingredients-meats">
                        <b class="invisible">a</b>
                        <div class="tacos-ingredients-meats-item" *ngFor="let meat of meats">
                            <label>
                                <input type="checkbox" (click)="enableIngredient('meats', meat.id)" checked="checked"> 
                                {{meat.name}}
                            </label>
                        </div>
                    </td>

                    <td class="tacos-ingredients-sauces">
                        <b class="invisible">a</b>
                        <div class="tacos-ingredients-sauces-item" *ngFor="let sauce of sauces">
                            <label>
                                <input type="checkbox" (click)="enableIngredient('sauces', sauce.id)" checked="checked">
                                {{sauce.name}}
                            </label>
                        </div>
                    </td>

                    <td class="tacos-ingredients-supplements">
                        <i>Fromages</i>
                        <div class="tacos-ingredients-supplements-cheese-item" *ngFor="let supplement of supplementsCheese">
                            <label>
                                <input type="checkbox" (click)="enableIngredient('supplementsCheese', supplement.id)" checked="checked">
                                {{supplement.name}}
                            </label>
                        </div>
                    </td>
                    
                    <td class="tacos-ingredients-supplements">
                        <i>Viandes</i>
                        <div class="tacos-ingredients-supplements-meat-item" *ngFor="let supplement of supplementsMeat">
                            <label>
                                <input type="checkbox" (click)="enableIngredient('supplementsMeat', supplement.id)" checked="checked">
                                {{supplement.name}}
                            </label>
                        </div>
                    </td>

                    <td class="tacos-ingredients-supplements">
                        <i>Végétaux</i>
                        <div class="tacos-ingredients-supplements-vegetal-item" *ngFor="let supplement of supplementsVegetal">
                            <label>
                                <input type="checkbox" (click)="enableIngredient('supplementsVegetal', supplement.id)" checked="checked">
                                {{supplement.name}}
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tacos-selectors">
        <h3>Générer un tacos</h3>
        <label for="eater">Mangeur du tacos: </label>
        <input type="text" id="eater">

        <div class="selectors-container">
            <div class="meat-selector selectors-item">
                <p>Nombre de viandes:</p>

                <div>
                    <input type="radio" name="meat-quantity" id="meat-one" value="1" [(ngModel)]="meatQuantity">
                    <label for="meat-one">1</label>
                </div>

                <div>
                    <input type="radio" name="meat-quantity" id="meat-two" value="2" [(ngModel)]="meatQuantity" [checked]="true">
                    <label for="meat-two">2</label>
                </div>

                <div>
                    <input type="radio" name="meat-quantity" id="meat-three" value="3" [(ngModel)]="meatQuantity">
                    <label for="meat-three">3</label>
                </div>

                <div>
                    <input type="radio" name="meat-quantity" id="meat-vege" value="0"  [(ngModel)]="meatQuantity">
                    <label for="meat-vege">Végétarien</label>
                </div>
                
            </div>

            <div class="sauce-selector selectors-item">
                <p>Nombre de sauces:</p>

                <div>
                    <input type="radio" name="sauce-quantity" id="sauce-one" value="1" [(ngModel)]="sauceQuantity">
                    <label for="sauce-one">1</label>
                </div>

                <div>
                    <input type="radio" name="sauce-quantity" id="sauce-two" value="2" [(ngModel)]="sauceQuantity" checked>
                    <label for="sauce-two">2</label>
                </div>

                <div>
                    <input type="radio" name="sauce-quantity" id="sauce-three" value="3" [(ngModel)]="sauceQuantity">
                    <label for="sauce-three">3</label>
                </div>

            </div>

            <div class="supplement-cheese-selector selectors-item">
                <p>Nombre de suppléments fromage:</p>

                <div>
                    <input type="radio" name="supplement-cheese-quantity" id="supplement-cheese-none" value="0" [(ngModel)]="supplementCheeseQuantity">
                    <label for="supplement-cheese-none">Aucun</label>
                </div>

                <div>
                    <input type="radio" name="supplement-cheese-quantity" id="supplement-cheese-one" value="1" [(ngModel)]="supplementCheeseQuantity">
                    <label for="supplement-cheese-one">1</label>
                </div>

                <div>
                    <input type="radio" name="supplement-cheese-quantity" id="supplement-cheese-two" value="2" [(ngModel)]="supplementCheeseQuantity">
                    <label for="supplement-cheese-two">2</label>
                </div>

                <div>
                    <input type="radio" name="supplement-cheese-quantity" id="supplement-cheese-three" value="3" [(ngModel)]="supplementCheeseQuantity">
                    <label for="supplement-cheese-three">3</label>
                </div>
            </div>

            <div class="supplement-meat-selector selectors-item">
                <p>Nombre de suppléments viande:</p>

                <div>
                    <input type="radio" name="supplement-meat-quantity" id="supplement-meat-none" value="0" [(ngModel)]="supplementMeatQuantity">
                    <label for="supplement-meat-none">Aucun</label>
                </div>

                <div>
                    <input type="radio" name="supplement-meat-quantity" id="supplement-meat-one" value="1" [(ngModel)]="supplementMeatQuantity">
                    <label for="supplement-meat-one">1</label>
                </div>

                <div>
                    <input type="radio" name="supplement-meat-quantity" id="supplement-meat-two" value="2" [(ngModel)]="supplementMeatQuantity">
                    <label for="supplement-meat-two">2</label>
                </div>

                <div>
                    <input type="radio" name="supplement-meat-quantity" id="supplement-meat-three" value="3" [(ngModel)]="supplementMeatQuantity">
                    <label for="supplement-meat-three">3</label>
                </div>
            </div>

            <div class="supplement-vegetal-selector selectors-item">
                <p>Nombre de suppléments végétal:</p>

                <div>
                    <input type="radio" name="supplement-vegetal-quantity" id="supplement-vegetal-none" value="0" [(ngModel)]="supplementVegetalQuantity">
                    <label for="supplement-vegetal-none">Aucun</label>
                </div>

                <div>
                    <input type="radio" name="supplement-vegetal-quantity" id="supplement-vegetal-one" value="1" [(ngModel)]="supplementVegetalQuantity">
                    <label for="supplement-vegetal-one">1</label>
                </div>

                <div>
                    <input type="radio" name="supplement-vegetal-quantity" id="supplement-vegetal-two" value="2" [(ngModel)]="supplementVegetalQuantity">
                    <label for="supplement-vegetal-two">2</label>
                </div>

                <div>
                    <input type="radio" name="supplement-vegetal-quantity" id="supplement-vegetal-three" value="3" [(ngModel)]="supplementVegetalQuantity">
                    <label for="supplement-vegetal-three">3</label>
                </div>
            </div>

        </div> 

        <button type="button" class="btn-generate-tacos" id="btn-generate" (click)="onGenerate()">Générer</button> 
    </div>
    
    <div class="tacos-list">
        <h3>Tacos généré{{tacosList.length > 1 ? 's' : ''}}</h3>
        <table>
            <tbody>
                <tr *ngFor="let tacos of tacosList" id="{{tacos.id}}" class="tacos-list-item">
                    <td>
                        <b>{{tacos.eater | uppercase}} - {{tacos.id}}</b>
                    </td>
                    <td>
                        <span *ngFor="let meat of tacos.meats; last as isLast">{{meat.name}}{{isLast ? '' : ', '}}</span>
                    </td>
                    <td>
                        <span *ngFor="let sauce of tacos.sauces; last as isLast">{{sauce.name}}{{isLast ? '' : ', '}}</span>
                    </td>
                    <td>
                        <span *ngFor="let supplement of tacos.supplementsCheese; last as isLast">{{supplement.name}}{{isLast ? '' : ', '}}</span>&nbsp;
                        <span *ngFor="let supplement of tacos.supplementsMeat; last as isLast">{{supplement.name}}{{isLast ? '' : ', '}}</span>&nbsp;
                        <span *ngFor="let supplement of tacos.supplementsVegetal; last as isLast">{{supplement.name}}{{isLast ? '' : ', '}}</span>&nbsp;
                    </td>
                    <td>
                        <button type="button" class="btn-regenerate-tacos" id="" (click)="onRegenerate(tacos.id)">Regénérer</button>
                        &nbsp;
                        <button type="button" class="btn-remove-tacos" id="" (click)="onRemove(tacos.id)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


